body{
    font-family: sans-serif;
    background-color: #132040;
    /* font-size: 30px; */
    margin: 0;
    color: white;
}

/* removing margin of all text element */
h1,h2,h3,h4,h5,h6,p {
	margin: 0px;
}
/* removing underline and changing color of a tag */
a{
    text-decoration: none;
    color: white;
}

/* top navigation bar */
.navigation-bar{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    text-align: center;
}
/* player logo */
.logo img{
    height: 8rem;
    width: 12rem;
}

/* favourite tab */
.fav-tab{
    margin-top: 2rem;
    margin-left: 5rem;
    font-size: large;
}
.fav-tab a{
    text-decoration: none;
    color: white;
}
.fav-tab a:hover{
    color: lightgray;
    transition: all 2s;
}

/* sarch bar */
.search-tab{
    margin-left: 30rem;
    margin-top: 3rem; 
    width: 20%;
    position: relative;
}
.search input{
    text-align: center;
    width: 100%;
    font-size: 16px;
    border: none;
    line-height: 30px;
    margin-left: -1px;
    border-radius: 10px 10px 10px 10px;
}
::placeholder{
    color: white;
}
button[type="submit"]{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    border: none;
    left: 0%;
    top: 8%;
}
button[type="button"]{
    display: inline-block;
    position: absolute;
    cursor: pointer;
    border: none;
    right: 0%;
    top: 8%;
}
button, input{
    color: white;
    background-color: #4c64a7;
}
input:focus{
    outline: none;
}

/* notification icon */
.notification{
    margin-left: 5rem;
    margin-top: 3rem;
}
.notification i{
    line-height: 20px;
    color: white;
}


/* profile picture */
.profile-picture{
    margin-left: 5rem;
    margin-top: 1rem;
}
.profile{
    height: 5rem;
    width: 5rem;
    border-radius: 100%;
}
/* navigation bar is complected */

/* /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */

/* ----------main---------- */
main {
	width: 100%;
	padding: 0% 3%;
	box-sizing: border-box;
	display: flex;
	flex-direction: row;
}

/* aside sections */
.aside {
	display: inline-block;
    overflow: hidden;
    margin-bottom: 60px;
}
.section-1{
    width: 70%;
    height: 86vh;
    overflow: scroll;
    overflow-x: hidden;
}
/* overflow should be scrollable but the scroll bar should be hidden*/
.section-1::-webkit-scrollbar {
	display: none;
}
/* section 2 of the main part */
.section-2 {
	width: 28%;
	height: 86vh;
}

/* aside section 1 */
.carousel a{
    text-decoration: none;
}
.carousel img{
    width: 30%;
    border-radius: 25px;
    height: 20vh;
    transition: all ease-in-out .2s;
}
.carousel img:hover{
    transform: scale(1.5);
}

/* Latest Release */
.latest-release{
    position: relative;
    top: 20vw;
    height: auto;
    width: 100%;
    box-sizing: border-box;
}
.latest-release-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}
.latest-release-content div{
    height: 100px;
    width: 48%;
    margin: 5px 0px;
}

/* card is a general class for all cards in latest release */
.card{
    display: flex;
    flex-direction: row;
    transition: box-shadow ease-in-out 0.2s;
}
.card img {
	width: 100px;
	height: 90px;
	z-index: 1;
}
.card:hover{
    box-shadow: 0px 0px 2px 1px white;
}
/* play button on hover over card */
.play-btn {
    height: 100px;
    width: 100px;
    position: relative;
    text-align: center;
    top: -60%;
    opacity: 0;
}
.play-btn:hover{
    opacity: 1;
    color: white;
}
/* song description */
.song-disc{
    margin: auto 10%;
}

.options{
    position: relative;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap-reverse;
    text-align: right;
    margin-left: auto;
	margin-right: 2%;
	margin-top: 2%;
}
.latest-release-dropdown{
    position: absolute;
    background-color: darkgray;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    opacity: 0;
    width: 0px;
    height: 0px;
    top: 20px;
    right: 20px;
    overflow: hidden;
    z-index: 2;
	border: 1px solid black;
	box-shadow: 0px 0px 2px 1px black;
	transition: all ease-in-out 0.3s;
}
.fa-ellipsis-h {
	cursor: pointer;
}
input[type="checkbox"] {
    cursor: pointer;
    opacity: 0;
    margin-left: 9rem;
    margin-top: -1rem;
}
input[type="checkbox"]:checked ~ .latest-release-dropdown {
	width: max-content;
	height: auto;
	opacity: 1;
	padding: 5px;
}
.drop-menu p{
	text-align: center;
    text-decoration: none;
    padding: 0%;
    
}

/* popular artists */
.popular-artists{
    position: relative;
    width: 100%;
    height: auto;
    top: 5vw;
    box-sizing: border-box;
}
/* container of popular artists */
.popular-artist-content{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
/* popular artist images */
.popular-artists div a img{
    width: 10vw;
    min-width: 60px;
    min-height: 60px;
    height: 10vw;
    border-radius: 50%;
}
.popular-artists div{
    text-align: center;
}
.popular-artist-content > a > div {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}
.popular-artist-content > a > div > div {
	position: absolute;
	display: flex;
	top: 0px;
	width: 10vw;
	min-width: 60px;
	min-height: 60px;
	height: 10vw;
	border-radius: 50%;
	background-color: rgb(0, 0, 0);
	opacity: 0;
	transition: opacity ease-in-out 0.1s;
}
/* additional icons in this section */
.popular-artist-content a div div i {
	margin: auto;
    color: white;
	font-size: 3vw;
	opacity: 0;
	transition: opacity ease-in-out 0.2s;
} 
/* added hovering effects */
.popular-artist-content a div div:hover {
	opacity: 0.5;
}
.popular-artist-content a div div:hover i {
	opacity: 1;
}
.popular-artists div p {
	text-align: center;
}

/* Music themes */
:root{
    --background-image: url(media/station.png);
	--music-themes-background-image: linear-gradient(
		90deg,
		#833ab4,
		#fd1d1d,
		#fcb045
	);
}
.music-themes{
    position: relative;
    top: 10vw;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    background-image: var(--music-themes-background-image);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
/* stations */
.stations{
    margin: 20px 10px 20px 0px;
}
#div1{
    width: 12vw;
    height: 8vw;
    background-color: darkslateblue;
}
#div2{
    position: relative;
    top: -1vw;
    left: 1vw;
    width: 10vw;
    height: 10vw;
    background-color: lightgreen;
}
#div3 {
	position: relative;
	top: -1vw;
	left: 1vw;
	width: 8vw;
	height: 12vw;
	background-color: orange;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#div3 img{
    width: 5vw;
    height: 5vw;
}
#div3 p{
    font-size: 2vw;
}

/* themes */
.theme-main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
}
/* image in music theme */
.music-themes div img{
    width: 7vw;
    height: 7vw;
    border-radius: 50%;
}
.theme-content{
    margin: 3%;
	height: 8vw;
	width: 8vw;
	text-align: center;
	border-radius: 100%;
    transition: all ease-in-out 0.2;
}
.theme-content p{
    text-align: center;
    position: relative;
    top: -8vw;
    width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 100%;
	font-size: 2vw;
}
.theme-content:hover{
    transform: scale(1.1);
}

/* music theme 2 */
.music-themes-2{
    position: relative;
    top: 15vw;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.outer-div{
    width: 19vw;
	height: 13vw;
	overflow: hidden;
	min-width: 123px;
	min-height: 82px;
	margin: 5px;
}
.inner-div {
	width: 100%;
	height: 100%;
	background-color: black;
	background-position: center;
	background-size: cover;
	transition: all ease-in-out 0.3s;
}
/* party */
.music-themes-2 a:nth-child(1) .outer-div .inner-div {
	background-image: url("media/music\ themes\ 2/party.jpg");
}
/* electronic */
.music-themes-2 a:nth-child(2) .outer-div .inner-div {
	background-image: url("media/music\ themes\ 2/electronic.jpg");
}
/* road */
.music-themes-2 a:nth-child(3) .outer-div .inner-div {
	background-image: url("media/music\ themes\ 2/road.jpg");
}
.outer-div:hover .inner-div {
	transform: scale(1.3);
}
.outer-div .inner-div span {
	transform: scale(1);
	transition: all ease-in-out 0.3s;
}
.outer-div:hover .inner-div span {
	transform: scale(0.60);
}
.inner-div {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
}
.outer-div .inner-div span {
	color: white;
	font-size: 2vw;
}

/* language wise sections */
/* for both language sections */
.language{
    position: relative;
    top: 13vw;
    height: auto;
    width: 100%;
    box-sizing: border-box;
    margin: 3vw 0px;
}

/* for both language containers */
.language-content{
    display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	flex-wrap: wrap;
	padding: -2px 2px;
}
.language-content div img {
	width: 10vw;
	min-width: 60px;
	height: 10vw;
	min-height: 60px;
	transition: box-shadow ease-in-out 0.1s;
}
/* hovering effects on language content items */
.language-content div img:hover {
	box-shadow: 0px 0px 10px 1px white;
}
/* items in language content */
.language-content div {
	margin: 2vw 0px;
	width: 10.2vw;
	min-width: 60px;
}
/* properties for release date and name of the song */
.language-content div p:nth-child(2n) {
	width: 100%;
	word-wrap: break-word;
}
.language-content div p:nth-child(2n + 1) {
	font-size: 12px;
	font-weight: lighter;
}

/* asides section 1 complected */
/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* aside section 2 starts */
/* more button */
label[for="more"] {
	display: none;
	position: absolute;
	right: 0%;
	top: 20%;
	padding-bottom: 5px;
	z-index: 4;
	width: 70px;
	font-size: 20px;
	height: 25px;
	text-align: center;
	box-shadow: 0px 0px 2px 1px white;
	background-image: linear-gradient(45deg, red -50%, blue 150%);
}
/* when the checkbox corresponding to the "more" button is checked, then the section becomes visible */
label[for="more"]:checked ~ input {
	display: none;
}
/* aside section 2 headings */
.heading{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: baseline;
	margin-bottom: 12%;
}
.heading h4 a {
	color: greenyellow;
}
/* these are the properties for the queue options box. the queue options box will be visible when one clicks on the queue button */
.queue-options {
	position: fixed;
	right: 4%;
	top: 14%;
	background-color: #f8f9fa;
	width: 10%;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
	padding: 1%;
	box-sizing: border-box;
	overflow: hidden;
	z-index: 2; /* to cover the heart icon */
	opacity: 0;
	transform: scale(0);
	transition: all ease-in-out 0.25s;
}
/* when the queue option box becomes target */
#queue-option-box:target {
	opacity: 1;
	transform: scale(1);
}
.queue-options {
	color: black;
}
.queue-options p {
	text-align: center;
}
.queue-options p a {
	text-decoration: none;
}
/* horizontal line in queue options box */
hr {
	width: 90%;
	color: black;
}
/* playlist content */
.playlist-content {
	width: 100%;
	height: 75vh;
	display: flex;
	flex-direction: column;
	overflow: scroll;
	cursor: pointer;
}
/* playlist content container scroll bar */
.playlist-content::-webkit-scrollbar {
	display: none;
}
/* left content contains the image, index and name of the song */
.left-content {
	display: flex;
	height: 100%;
	width: 70%;
	flex-direction: row;
	flex-wrap: no-wrap;
	justify-content: space-between;
	align-items: center;
}
.left-content > div:nth-child(3) {
	margin-left: 12px;
	width: 50%;
	word-wrap: break-word;
}
/* right content contains the heart icon */
.right-content {
	position: relative;
	bottom: 62%;
	left: 90%;
	width: min-content;
	height: 20px;
	color: white;
	font-size: 20px;
}
.right-content i {
	transition: all ease-in-out 0.1s;
}
.right-content i:hover {
	color: red;
}
/* class for a partilcular item in playlist */
.playlist-item {
	width: 90%;
	height: auto;
	padding: 0px 1%;
	box-sizing: border-box;
	margin: 1%;
}
/* playlist items hovering effect */
.playlist-item:hover {
	box-shadow: 0px 0px 2px 1px white;
}
/* playlist item image */
.playlist-item img {
	width: 80px;
	height: 80px;
}
/* this will cover the playlist image. this can be called as a container for half of the items in the left part */
.coverer {
	width: 80px;
	height: 80px;
}
/* ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* Footer section starts here*/
/* this is the container for the whole footer */
footer {
	position: fixed;
	bottom: 1px;
	width: 100%;
	height: 60px;
	background-color: #282828;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-content: center;
	flex-wrap: nowrap;
	padding: 0px 3%;
	box-sizing: border-box;
	z-index: 6;
}
/* footer is divided into 3 parts */
/* 1. first part of the footer */
.active-song-description {
	/* border:1px solid white; */
	height: 90%;
	width: 25%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}
/* the current song which is being played, this is the image container for that. */
#song-image {
	width: 50px;
	height: 50px;
	min-width: 50px;
	min-height: 50px;
}
/* current song image */
#song-image img {
	width: 100%;
	height: 100%;
}
/* heart and ban icon */
.heart-and-ban-icon {
	height: 100%;
	padding-top: 4%;
}
/* song decscription */
.song-desc {
	margin-right: 1%;
	margin-left: 1%;
}
/* song name */
.song-desc div:nth-child(1) {
	font-size: 14px;
}
/* song author */
.song-desc div:nth-child(2) {
	font-size: 12px;
}

/* 2. Second part of the footer*/
.player {
	width: 45%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	flex-wrap: nowrap;
}
/* controls is the container for all the center controls of the player */
.controls {
	width: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	font-size: 20px;
}
/* this is the song-duration slider */
#slider {
	width: 100%;
	font-size: 12px;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: center;
	margin-top: 5px;
}
/* ////////// */
.time {
	margin: 0px 10px;
}

/* adjusting the slider for better visuals */
.slidecontainer {
	width: 100%;
}
/* for audio and main center player */
.slider {
	-webkit-appearance: none;
	width: 100%;
	height: 5px;
	background: #d3d3d3;
	outline: none;
	opacity: 0.5;
	-webkit-transition: 0.2s;
	transition: opacity 0.2s;
}
/* hover effect for the slider */
.slider:hover {
	opacity: 1;
}
/* these are for adjusting the dimensions and default styling of the long-slider */
.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 17px;
	height: 17px;
	border-radius: 50%;
	background: #007bff;
	cursor: pointer;
}
/* this is the circular thumb, which can be moved across the div */
.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4caf50;
	cursor: pointer;
}

/* third part of the footer */
/* this contains the extra icons and slider for volume */
/* this is also a container */
.extras {
	width: 20%;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
}


/* ////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////// */
/* this section is for responsiveness of the page */
@media screen and (max-width: 1300px) {
	/* reduced size of search bar */
	.search-tab {
		margin-left: 15rem;
		width: 15%;
	}
	.notification{
		margin-left: 1rem;
	}
	.profile-picture{
		margin-left: 1rem;
	}

}
@media screen and (max-width: 900px) {
	.search-tab {
		margin-left: 5rem;
		width: 15%;
	}
	.notification{
		margin-left: 1rem;
	}
	.profile-picture{
		margin-left: 1rem;
	}
	/* more button vil ve visible and section 2 will be hidden by default for this viewport */
	label[for="more"] {
		display: block;
	}
	/* hidden section 2 by default */
	.section-2 {
		visibility: hidden;
		opacity: 0;
		position: absolute;
		width: 300px;
		height: 66vh;
		background-color: #050043;
		box-shadow: 0px 0px 2px 1px white;
		right: 0px;
		top: 23.5%;
		z-index: 5;
		overflow: scroll;
		padding-left:10px;
		transition: visibility ease-in-out 0.2s;
		transition: opacity ease-in-out 0.2s;
	}
	.playlist-content {
		overflow: visible;
	}
	/* re-adjusted the queue options box */
	.queue-options {
		position: absolute;
		height: auto;
		width: auto;
		top: 7%;
		right: 0%;
	}
	/* more button */
	input[id="more"]:checked ~ .section-2 {
		visibility: visible;
		opacity: 1;
	}
	/* hide section 2 scrollbar */
	.section-2::-webkit-scrollbar {
		display: none;
	}
	.section-1 {
		/* width: 100%; */
	}
	.card {
		min-width: 250px; 
	}
	.aside {
		margin-bottom: 80px;
	}
}
@media screen and (max-width: 700px) {
	.fav-tab{
		display: none;
	}
	.search input{
		font-size: .8rem;
	}
}
@media screen and (max-width: 550px) {
	.search-tab{
		margin-left: 2rem;
	}
	.search input{
		font-size: 5px;
	}
}